<html lang="en">
  {{!-- Head --}}
    {{>head}}
  {{!-- /Head --}}
  <body>
    {{!-- Navbar --}}
      {{>navbar}}
    {{!-- /Navbar --}}

    {{!-- Body --}}
      <div class="container">
        {{{body}}}
      </div>
    {{!-- /Body --}}

    {{!-- /Footer --}}
      {{>footer}}
    {{!-- Footer --}}
  </body>
</html>